# Ignore node_modules (dependencies)
node_modules/

# Ignore output folders
dist/
build/
coverage/

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
